@model EmployeeManagement.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee Submission </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LectureName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LectureName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LectureSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LectureSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Program)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Program)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HourlyRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HourlyRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedById)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedById)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedByID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedByID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsApproved)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Details" asp-route-id="@Model?.Id">Approve</a> |
    <a asp-action="Index">Back to List</a>
</div>
@model EmployeeManagement.Models.Employee

<h2>Upload File for @Model.LectureName @Model.LectureSurname</h2>

<form asp-action="UploadFile" enctype="multipart/form-data">
    <div class="form-group">
        <label for="uploadedFile">Select file to upload</label>
        <input type="file" name="uploadedFile" />
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
