@model IEnumerable<EmployeeManagement.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1 class="pink-text">Submit your Form</h1>

<p>
    <a asp-action="Create" class="btn btn-primary pink-bg text-white">Add New Claim Form</a>
</p>

<table class="table pink-bg">
    <thead>
        <tr class="pink-bg">
            <th class="pink-text">
                @Html.DisplayNameFor(model => model.LectureName)
            </th>
            <th class="pink-text">
                @Html.DisplayNameFor(model => model.LectureSurname)
            </th>
            <th class="pink-text">
                @Html.DisplayNameFor(model => model.EmployeeNo)
            </th>
            <th class="pink-text">
                @Html.DisplayNameFor(model => model.ContactDetails)
            </th>
            <th class="pink-text">
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th class="pink-text">
                @Html.DisplayNameFor(model => model.Program)
            </th>
            <th class="pink-text">
                @Html.DisplayNameFor(model => model.NumberOfHours)
            </th>
            <th class="pink-text">
                @Html.DisplayNameFor(model => model.HourlyRate)
            </th>
            <th class="pink-text">
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th class="pink-text">
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th class="pink-text">
                @Html.DisplayNameFor(model => model.SupportingDocument)
            </th>
            <th class="pink-text"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="pink-text">
                    @Html.DisplayFor(modelItem => item.LectureName)
                </td>
                <td class="pink-text">
                    @Html.DisplayFor(modelItem => item.LectureSurname)
                </td>
                <td class="pink-text">
                    @Html.DisplayFor(modelItem => item.EmployeeNo)
                </td>
                <td class="pink-text">
                    @Html.DisplayFor(modelItem => item.ContactDetails)
                </td>
                <td class="pink-text">
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td class="pink-text">
                    @Html.DisplayFor(modelItem => item.Program)
                </td>
                <td class="pink-text">
                    @Html.DisplayFor(modelItem => item.NumberOfHours)
                </td>
                <td class="pink-text">
                    @Html.DisplayFor(modelItem => item.HourlyRate)
                </td>
                <td class="pink-text">
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td class="pink-text">
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td class="pink-text">
                    @if (!string.IsNullOrEmpty(item.SupportingDocument))
                    {
                        <a href="~/uploads/@item.SupportingDocument" target="_blank">Download Document</a>
                    }
                    else
                    {
                        <span>No Document</span>
                    }
                </td>
                <td class="pink-text">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
